.Contents {
    padding: 40px 20px;
    box-shadow: 3px 3px 13px rgb(207, 207, 207);
    border-radius: 2px;
    max-width: 900px;
    margin: 40px auto;
    display: flex;
}

.Logo {
    padding: 0 20px;
}

.Logo img {
    width: 100px;
}

.Text {
    padding: 0 20px ;
}

.Address {
    font-weight: bolder;
    font-size: 22px;
    margin-bottom: 10px;
}